body {
    background-color: black;
}

.carousel-item {
    background-color: color;
}

.carousel-caption h3 {
    color: white;
}

#buttonContainer {
    padding: 0;
    background-color: black;
}

#addNoteButton {}

#saveChangesButton {}